*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background: $color-white-0;
    font-family: 'Roboto', sans-serif;;
    @include styleText($color-black-0,$fs-2,$fw-normal);
}
a{
    cursor: pointer;
    &:hover{
        text-decoration: none;
        transition: all .2s;
    }
}
ul,li{
    list-style: none;
    margin-bottom: 0;
}
