.CapNhat{
    .titleModal{
        font-size: 20px;
        color: red;
    }
    .modal{
        .modal-dialog {
            max-width: 500px;
            .modal-content{
                .modal-header{
                    .modal-title{
                        font-size: 25px;
                    }
                }
                .modal-body{
                    .update__form{
                        .update__form-input{
                            margin-bottom: 10px;
                            label{
                                font-size: 17px;
                                font-weight: bold;
                            }
                            input{
                                font-size: 15px;
                            }
                        }
                        button{
                            width: 100%;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        
    }
}