.Login_content {
    height: 1024px;
    width: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/poster.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
    .Login_loginPic {
        width: 60%;
        height: 60%;
        background: rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: 5px 7px 10px 5px gray;
        overflow: hidden; 
        display: flex;
        justify-content: center;
        align-items: center;
        .Login_pic {
            width: 60%;
            height: 100%;
            background-image: url(../assets/img/movie1.gif);
            background-position: center;
            background-size: cover;
        }
        .Login_login {
            width: 40%;
            text-align: center;
            padding: $pd-4;
            .form-group {
                p {
                    text-align: left;
                }
                .formLogin{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    padding: $pd-0 $pd-3;
                    background: #f0f0f0;
                    i{
                        color: #acacac;
                    }
                    input{
                        background: none;
                        outline: none;
                        border: none;
                        &:focus{
                            box-shadow: none;
                        }
                    }
                }
            }
            .text {
                display: flex;
                justify-content: space-between;
            }
            .social-media {
                padding-top: $pd-4;
                font-size: $fs-4 + 2;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                a{
                    width: 70px;
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .social-icon {
                        height: 40px;
                        width: 40px;
                        border: 1px solid transparent;
                        border-radius: 50%;
                        // margin:  10px;
                        line-height: 40px;
                        cursor: pointer;
                        transition: all 0.5s;
                        &:hover{
                            height: 60px;
                            width: 60px;
                            line-height: 60px;
                        }
                    }
                    .fa-facebook-f {
                        color: white;
                        background: #1774d4;
                    }
                    .fa-google-plus-g {
                        color: white;
                        background: #e83b14;
                    }
                    .fa-twitter {
                        color: white;
                        background: rgb(29, 161, 242);
                    }
                    .fa-linkedin-in {
                        color: white;
                        background: #da2aa4;
                    }
                }
            }
        }
    }
}
// @media only screen and (max-width: 500px) {
//     .Login_loginPic{
//         width: 100% !important;
//         height: 100% !important;
//         border-radius: 0 !important;
//         box-shadow: none !important;
//         .Login_pic{
//             display: none;
//         }
//         .Login_login{
//             width: 100% !important;
//             .text{
//                 flex-direction: column;
//             }
//         }
//     }
// }
// @media only screen and (min-width: 376px) and (max-width: 1024px) {
//     .Login_pic{
//         display: none;
//     }
//     .Login_login{
//         width: 100% !important;
//     }
// }
@include responsive("small") {
    .Login_loginPic{
        width: 100% !important;
        height: 100% !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        .Login_pic{
            display: none;
        }
        .Login_login{
            width: 100% !important;
            .text{
                flex-direction: column;
            }
        }
    }
}
@include responsive("large") {
    .Login_pic{
        display: none;
    }
    .Login_login{
        width: 100% !important;
    }
}
@include responsive("extra-large") {
    .Login_pic{
        width: 40% !important;
    }
    .Login_login{
        width: 60% !important;
    }
}
